{% extends "base.html" %}


{% block content %}
<div class="container">
      <p><center><h3>From here you can check out our projects</h3></center></p>
      <br>
      <p>Please Note: <br> Our free projects you will see if it's a free charge next to it or not, that will be in the project discription.</p>
</div>
<br>
<body>
      <div class="accordion" id="accordionExample">
            {% for project in projects %}
            <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ project.id }}" aria-expanded="false" aria-controls="collapse{{ project.id }}">
                  {{ project.title }}
            </button>
            </h2>
            <div id="collapse{{ project.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                  <p>{{ project.description }}</p>
                  <a href="{{ project.url }}" target="_blank">Visit Project</a>
            </div>
            </div>
            </div>
            {% endfor %}
      </div>
          
      {{ block.super }}
</body>
{% endblock %}